<mat-toolbar color="primary">
  <h1>Emoji Favicon Generator</h1>
  <a
    href="https://github.com/deerboy/emoji-favicon-generator"
    target="_blank"
    mat-button
    >GitHub</a
  >
</mat-toolbar>

<app-chrome [settings]="settings"></app-chrome>

<div class="main">
  <div class="editor">
    <mat-slide-toggle class="editor__theme" [(ngModel)]="settings.isDarkMode"
      >Dark Mode</mat-slide-toggle
    >

    <mat-form-field class="editor__title">
      <mat-label>Title</mat-label>
      <input
        type="text"
        matInput
        [(ngModel)]="settings.title"
        autocomplete="off"
      />
      <span
        class="emoji-button"
        #pickerContainer
        matSuffix
        matTooltip="絵文字を選択"
      >
        <mat-icon (click)="openEmoji()">face</mat-icon>
      </span>
    </mat-form-field>
  </div>

  <mat-form-field class="code" appearance="outline" *ngIf="downloadURL">
    <mat-label>SVG</mat-label>
    <textarea
      matInput
      readonly
      #result
      matTextareaAutosize
      [value]="svgCode"
    ></textarea>
    <mat-icon
      matSuffix
      matTooltip="コピー"
      (click)="copy(svgCode)"
      fontSet="material-icons-outlined"
      >file_copy_</mat-icon
    >
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>HTML</mat-label>
    <input type="text" [value]="linkTag" matInput readonly />
    <mat-icon
      matSuffix
      matTooltip="コピー"
      (click)="copy(linkTag)"
      fontSet="material-icons-outlined"
      >file_copy_</mat-icon
    >
  </mat-form-field>

  <a
    *ngIf="downloadURL"
    mat-flat-button
    color="primary"
    download="favicon.svg"
    [href]="downloadURL | safe: 'url'"
    >Get SVG Favicon</a
  >
</div>

<footer>
  <a href="https://twitter.com/d151005" target="_blank">@d151005</a>
</footer>
